header {
    height: 70px;
    background-color: white;
    max-width: 1200px;
    margin: 0 auto;
    font-family: Helvetica, sans-serif;
}
.logo {
    width: 15%;
    padding-left: 150px;
    display: inline-block;
}
.logo__orange-text {
    color: orange;
    font-family: Helvetica, sans-serif;
    letter-spacing: 3px;
    font-size: 20px;
    position: relative;
}
.logo__grey-text {
    color: grey;
    font-family: Helvetica, sans-serif;
    letter-spacing: 2px;
    display: block;
    font-size: 25px;
}
.header__menu {
    padding-left: 300px;
    display: inline-block;
    max-width: 1200px;
    margin: 0 auto;
}
.header__button {
    display: block;
    float: right;
    padding: 22px 25px 5px 25px;
    color: gray;
    font-size: 20px;
}
.logo__img {
    float: left;
    margin-left: -70px;
}