header {
    height: 70px;
    background-color: white;
    border-bottom: 2px solid orange;
    font-family: Helvetica, sans-serif;
}
.header__navigation a {
    text-decoration: none;
    color: gray;
}
header .header__logo {
    width: 15%;
    padding-left: 250px;
    display: inline-block;
}
.header__logo h1 {
    color: orange;
    font-family: Helvetica, sans-serif;
    letter-spacing: 3px;
    font-size: 20px;
    position: relative;
}
.header__logo span {
    color: grey;
    font-family: Helvetica, sans-serif;
    letter-spacing: 2px;
    display: block;
    font-size: 25px;
}
.header__menu {
    padding-left: 250px;
    margin: 0px;
    display: inline-block;
}
.header__navigation {
    display: block;
    float: right;
    padding: 5px 15px;
    color: gray;
    font-size: 20px;
}
.header__logo img {
    float: left;
    padding-top: 10px;
}