header {
    height: 70px;
    background-color: white;
    border-bottom: 2px solid orange;
    font-family: Helvetica, sans-serif;
}

.header__menu {
    padding: 0px 300px;
    margin: 0px;
}
.header__navigation {
    display: inline-block;
    float: right;
    padding: 5px 15px;
    color: gray;
    font-size: 20px;
}
img {
    float: left;
    padding: 15px 0px 0px 350px;
}
.header__orange {
    display: block;
    float: left;
    clear: right;
    color: orange;
    padding: 15px 0px 0px 0px;
}
.header__rabbit {
    display: block;
    float: left;
    color: grey;
    font-weight: bolder;
    padding: 30px 0px 0px 0px;
}