.news-scroll {
    background: url(./slice-orange.png) no-repeat center 0;
    border-bottom: 2px orange solid;
    border-top: 2px orange solid;
    height: 400px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    margin: 0 auto;
    overflow: hidden;
    clear: both;
    position: relative;
    font-size: 35px;
}
.news-scroll__black-text {
    position: absolute;
    top: 130px;
    left: 155px;
    letter-spacing: 1px;
    background-color: black;
    opacity: 0.8;
    color: orange;
    padding: 5px;
}
.news-scroll__orange-text {
    position: absolute;
    top: 225px;
    left: 150px;
    letter-spacing: 1px;
    background-color: orange;
    opacity: 0.8;
    color: grey;
    padding: 10px;
}