header
{
    font-family: Helvetica, sans-serif;

    max-width: 1200px;
    height: 70px;
    margin: 0 auto;

    background-color: rgb(255, 255, 255);
}
.logo
{
    display: inline-block;

    width: 15%;
    padding: 0 0 0 60px;
}
.logo__orange-text
{
    font-family: Helvetica, sans-serif;
    font-size: 20px;

    position: relative;

    margin: 0 0 0 80px;

    letter-spacing: 3px;

    color: rgb(255, 165, 0);
}
.logo__rabbit-text
{
    font-family: Helvetica, sans-serif;
    font-size: 25px;

    display: block;

    letter-spacing: 2px;

    color: rgb(128, 128, 128);
}
.logo__image
{
    float: left;
}