.news {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0 0 85px;
}
.news__item {
    width: 17.5em;
    display: inline-block;
    padding: 22px 22px 23px 20px;
    font-size: 13px;
}
.news__more a {
    color: rgb(255, 165, 0);
    font-family: Helvetica, sans-serif;
    padding: 0 0 0 150px;
    font-size: 13px;
    font-style: italic;
}