.team {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
    grid-template-rows: 33.333% 33.333% 33.333%;
    margin: 0 0 0 40px;
}
.team__meet-text {
    color: rgb(255, 165, 0);
    text-align: center;
    font-size: 30px;
    font-family: Helvetica, sans-serif;
    margin: 20px 0 36px 0;
    text-decoration: underline;
}
.team-member {
    justify-self: center;
    margin: 0 0 0 90px;
}
.team-member__person-name {
    text-align: center;
    font-family: Helvetica, sans-serif;
    margin: 0 0 25px 0;
    color: rgb(128, 128, 128);
}
.team-member__person-post {
    text-align: center;
    font-family: Helvetica, sans-serif;
    margin: 0 0 25px 0;
    color: rgb(255, 165, 0);
}
.team-member__image {
    border-radius: 50%;
    border: 5px rgb(255, 165, 0) solid;
}
.team-member__description {
    margin: 30px 0 0 0;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
}