.footer
{
    position: relative;

    max-width: 1400px;
    height: 70px;
    margin: 30px 0 0 0;

    text-align: center;

    background-color: #ffa500;
}
.footer-wrapper
{
    margin: 0 0 0 75px;
    padding: 18px;
}
.footer__copyright
{
    font-family: Helvetica, sans-serif;
    font-size: 20px;

    text-transform: uppercase;

    color: #ffffff;
}
