.news
{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0 0 85px;
}
.news__item
{
    font-size: 13px;

    display: inline-block;

    width: 17.5em;
    padding: 22px 22px 23px 20px;
}
.news__more a
{
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    font-style: italic;

    padding: 0 0 0 150px;

    color: rgb(255, 165, 0);
}
.news__line {
    background-image: linear-gradient(black, black);
    background-size: 100% 1px;
    background-position: left bottom;
    background-repeat: no-repeat;
}