.team {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 33.3% 33.3% 33.3%;
    margin-left: 40px;
}
.team__meet-text {
    color: orange;
    text-align: center;
    font-size: 30px;
    font-family: Helvetica, sans-serif;
    margin-top: 20px;
    margin-bottom: 36px;
}
.team-member {
    justify-self: center;
    margin-left: 90px;
}
.team-member__name {
    text-align: center;
    font-family: Helvetica, sans-serif;
    margin-bottom: 25px;
}
.team-member__name-person {
    color: grey;
}
.team-member__name-post {
    color: orange;
}
.team-member__image {
    border-radius: 50%;
    border: 5px orange solid;
}
.team-member__description {
    margin-top: 30px;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
}